<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
</head>
<body>
    <h1>Tic Tac Toe</h1>
    <p>Here you can play Tic Tac Toe With your friends.</p>
    <a href="/join">To join a game</a>
    <a href="/new">To create a new game</a>
</body>
</html>